<div class="container">

  <div class="mb-5">
    <div class="d-flex align-items-center justify-content-between">
      <h1 class="dashboard-title m-0">Dashboard</h1>
      <%= link_to root_path do %>
        <button type="button" class="btn btn-primary text-white font-weight-bold">Return to Home</button>
      <% end %>
    </div>
  </div>

  <div class="border-bottom">
    <%= link_to "Edit my profile", edit_user_registration_path, class: "dropdown-item" %>
    <%= link_to "Sign-out", destroy_user_session_path, method: :delete, class: "nav-link" %>
  </div>

  <nav>
    <div class="nav nav-tabs mt-3 mb-3" id="nav-tab" role="tablist">
      <button class="nav-link active" id="nav-bookings-tab" data-bs-toggle="tab" data-bs-target="#nav-bookings" type="button" role="tab" aria-controls="nav-bookings" aria-selected="true">My bookings</button>
      <button class="nav-link" id="nav-offers-tab" data-bs-toggle="tab" data-bs-target="#nav-offers" type="button" role="tab" aria-controls="nav-offers" aria-selected="false">Put a flat to rent</button>
      <button class="nav-link" id="nav-personal-info-tab" data-bs-toggle="tab" data-bs-target="#nav-personal-info" type="button" role="tab" aria-controls="nav-personal-info" aria-selected="false">My personnal information</button>
    </div>
  </nav>

  <!-- Owner Part -->
  <h4 class="dashboard-title">List of all my flats to rent</h4>
  <%= link_to "Add a new flat to rent", new_flat_path %>

  <!-- Tenant Part -->

  <h4 class="dashboard-title m-0">Current bookings</h4>
  <%= link_to "Make a new reservation", root_path %>

</div>
